# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Personal and system files (added)
.asdf/
.aws/
.azure/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.docker/
.gitconfig
.local/
.motd_shown
.npm/
.nvm/
.profile
.rbenv/
.ssh/
.sudo_as_admin_successful
.viminfo
.vscode-server/
.wget-hsts
aabdulai
aabdulai-debian-report.txt
aabdulai-debian-report.txt.save
aabdulai.pub
assignment2-alyssa/
coding-assignment1/
documents/
jdoe-debian-report.txt.save
my-app/
my-vite-react-app/
php/
ssh-keygen
ssh-keygen.pub
